.mainpage__progressBar {
    position: fixed;
    bottom: 5.56vh;
    left: 40%;
    text-align: center;
}

.mainpage__progressBar--desc {
    width: 21.77vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.mainpage__progressBar--name {
    display: block;
    font-size: 16px;
    line-height: 130%;
    color: var(--progressbar-main-color)
}