.creative {
    position: relative;
    background-image: url(../img/background.png);
}

.creative__video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -8vh;
    left: 23vw;
    z-index: -1;
}

.creative .mainpage__btn {
    color: #3E24EA;
    background-color: transparent;
    border-radius: 150px;
    border: 1px solid #3E24EA;
    font-family: 'Visby Medium Italic';
    overflow: hidden;
    --back-color: rgba(0, 0, 0, 0);
    --hover-color: #3E24EA;
}

.creative .mainpage__btn:is(:hover, :focus) {
    color: #fff;
}