.swiper {
    --progressbar-main-color: #C6D1F7;
}

.swiper-pagination-bullets {
    bottom: 5.55vh!important;
}

.active svg circle {
    stroke: var(--progressbar-active-color);
}

.active .customCircle {
    fill: var(--progressbar-active-color);
}

.active .bullet--name:after {
    color: var(--progressbar-active-color);
}

.swiper-pagination-bullets {
    left: 2%;
}

.swiper-pagination-bullet {
    margin: unset!important;
    width: fit-content;
    background: none;
    text-align: start;
    font-size: 1.481vh;
    line-height: 130%;
    opacity: 1;
}

.bullet--name {
    position: relative;
    margin-bottom: 6px;
    color: transparent;
}

.bullet__develop:after,
.bullet__creative:after,
.bullet__marketing:after {
    position: absolute;
    left: -19%;
    color: var(--progressbar-main-color);
}

.bullet__develop:after {
    content: 'Разработка';
}

.bullet__creative:after {
    content: 'Креативная';
}

.bullet__marketing:after {
    content: 'Маркетинг';
    left: -34%;
}

#developLine,
#creativeLine {
    width: 0;
}

.progressAnim {
    animation-name: lineAnim;
    animation-timing-function: linear;
}

@keyframes lineAnim {
    100% {
        width: 100%
    }
}